header div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#heading {
    background-color: lightsalmon;
}

body {
    background-color: wheat;
}

#viewHighscores {
    width: 30%;
}

#timer {
    width: 30%;
}

#welcome {
    text-align: center;
    padding: 30px;
}

#welcome h2 {
    font-size: 150%;
    padding: 15px;
}

#quiz div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

/* #answer {
    display: none;
} */

#logScore div {
    text-align: center;
    padding: 30px;
}

#scoreList {
    padding: 15px;
}

#score {
    padding: 15px;
}

#highScores div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
